define(`NAME', `Alexander Clouter')dnl
dnl
define(`DIGRIZ_NAME', `Personal')dnl
define(`DIGRIZ_EMAIL', `alex@digriz.org.uk')dnl
define(`DIGRIZ_SERVER_USERNAME', `jimdigriz@imapmail.org')dnl
define(`DIGRIZ_SERVER_PASSWORD', `...')dnl
define(`DIGRIZ_SERVER_IMAP', `imap.fastmail.com')dnl
define(`DIGRIZ_SERVER_SMTP', `smtp.fastmail.com')dnl
dnl
define(`COREMEM_NAME', `coreMem Limited')dnl
define(`COREMEM_EMAIL', `alex@coremem.com')dnl
define(`COREMEM_SERVER_USERNAME', `coremem@imapmail.org')dnl
define(`COREMEM_SERVER_PASSWORD', `...')dnl
define(`COREMEM_SERVER_IMAP', `DIGRIZ_SERVER_IMAP')dnl
define(`COREMEM_SERVER_SMTP', `DIGRIZ_SERVER_SMTP')dnl
dnl
define(`KX_NAME', `KX')dnl
define(`KX_EMAIL', `aclouter@kx.com')dnl
define(`KX_SERVER_USERNAME', `KX_EMAIL')dnl
define(`KX_SERVER_PASSWORD', `...')dnl
define(`KX_SERVER_IMAP', `...')dnl
define(`KX_SERVER_IMAP_PORT', `2143')dnl
define(`KX_SERVER_SMTP', `KX_SERVER_IMAP')dnl
define(`KX_SERVER_SMTP_PORT', `2025')dnl
