dnl(
define(`NAME', `Alexander Clouter')

define(`DIGRIZ_NAME', `Personal')
define(`DIGRIZ_SERVER_USERNAME', `jimdigriz@imapmail.org')
define(`DIGRIZ_SERVER_PASSWORD', `...')
define(`DIGRIZ_SERVER_SMTP', `smtp.fastmail.com')
define(`DIGRIZ_SERVER_SMTP_USERNAME', `DIGRIZ_SERVER_USERNAME')
define(`DIGRIZ_SERVER_SMTP_PASSWORD', `DIGRIZ_SERVER_PASSWORD')
define(`DIGRIZ_SERVER_IMAP', `imap.fastmail.com')
define(`DIGRIZ_SERVER_IMAP_USERNAME', `DIGRIZ_SERVER_USERNAME')
define(`DIGRIZ_SERVER_IMAP_PASSWORD', `DIGRIZ_SERVER_PASSWORD')
define(`DIGRIZ_EMAIL', `alex@digriz.org.uk')
define(`DIGRIZ_EMAIL_ENVELOPE', `DIGRIZ_SERVER_USERNAME')

define(`COREMEM_NAME', `coreMem Limited')
define(`COREMEM_SERVER_USERNAME', `coremem@imapmail.org')
define(`COREMEM_SERVER_PASSWORD', `...')
define(`COREMEM_SERVER_SMTP', `smtp.fastmail.com')
define(`COREMEM_SERVER_SMTP_USERNAME', `COREMEM_SERVER_USERNAME')
define(`COREMEM_SERVER_SMTP_PASSWORD', `COREMEM_SERVER_PASSWORD')
define(`COREMEM_SERVER_IMAP', `imap.fastmail.com')
define(`COREMEM_SERVER_IMAP_USERNAME', `COREMEM_SERVER_USERNAME')
define(`COREMEM_SERVER_IMAP_PASSWORD', `COREMEM_SERVER_PASSWORD')
define(`COREMEM_EMAIL', `alex@coremem.com')
define(`COREMEM_EMAIL_ENVELOPE', `COREMEM_SERVER_USERNAME')

define(`SOAS_NAME', `SOAS')
define(`SOAS_SERVER_USERNAME', `ac56@soas.ac.uk')
define(`SOAS_SERVER_PASSWORD', `...')
define(`SOAS_SERVER', `outlook.office365.com')
define(`SOAS_SERVER_SMTP', `SOAS_SERVER')
define(`SOAS_SERVER_SMTP_USERNAME', `SOAS_SERVER_USERNAME')
define(`SOAS_SERVER_SMTP_PASSWORD', `SOAS_SERVER_PASSWORD')
define(`SOAS_SERVER_IMAP', `SOAS_SERVER')
define(`SOAS_SERVER_IMAP_USERNAME', `SOAS_SERVER_USERNAME')
define(`SOAS_SERVER_IMAP_PASSWORD', `SOAS_SERVER_PASSWORD')
define(`SOAS_EMAIL', `SOAS_SERVER_USERNAME')
define(`SOAS_EMAIL_ENVELOPE', `SOAS_SERVER_USERNAME')

define(`A9G_NAME', `a9g')
define(`A9G_SERVER_USERNAME', `alex@a9g.com')
define(`A9G_SERVER_PASSWORD', `...')
define(`A9G_SERVER_SMTP', `smtp.fastmail.com')
define(`A9G_SERVER_SMTP_USERNAME', `A9G_SERVER_USERNAME')
define(`A9G_SERVER_SMTP_PASSWORD', `A9G_SERVER_PASSWORD')
define(`A9G_SERVER_IMAP', `imap.fastmail.com')
define(`A9G_SERVER_IMAP_USERNAME', `A9G_SERVER_USERNAME')
define(`A9G_SERVER_IMAP_PASSWORD', `A9G_SERVER_PASSWORD')
define(`A9G_EMAIL', `A9G_SERVER_USERNAME')
define(`A9G_EMAIL_ENVELOPE', `A9G_SERVER_USERNAME')

define(`NETWORKRADIUS_NAME', `NetworkRADIUS')
define(`NETWORKRADIUS_SERVER_USERNAME', `aclouter')
define(`NETWORKRADIUS_SERVER_PASSWORD', `...')
define(`NETWORKRADIUS_SERVER', `mail.networkradius.com')
define(`NETWORKRADIUS_SERVER_SMTP', `NETWORKRADIUS_SERVER')
define(`NETWORKRADIUS_SERVER_SMTP_USERNAME', `NETWORKRADIUS_SERVER_USERNAME')
define(`NETWORKRADIUS_SERVER_SMTP_PASSWORD', `NETWORKRADIUS_SERVER_PASSWORD')
define(`NETWORKRADIUS_SERVER_IMAP', `NETWORKRADIUS_SERVER')
define(`NETWORKRADIUS_SERVER_IMAP_USERNAME', `NETWORKRADIUS_SERVER_USERNAME')
define(`NETWORKRADIUS_SERVER_IMAP_PASSWORD', `NETWORKRADIUS_SERVER_PASSWORD')
define(`NETWORKRADIUS_EMAIL', `aclouter@networkradius.com')
define(`NETWORKRADIUS_EMAIL_ENVELOPE', `NETWORKRADIUS_EMAIL')
)
