[Unit]
Description=Mailbox synchronization timer

[Timer]
OnBootSec=2m
OnUnitInactiveSec=1h
RandomizedDelaySec=5m
Unit=mbsync.service

[Install]
WantedBy=timers.target
